td {
    width: 50px;
    height: 50px;
    border: solid black 2px;
}

.path {
    background-color: green;
}

td.startPoint {
    background-color: red;
}

td.endPoint {
    background-color: blue;
}

.wall {
    background-color: grey;
}

.explored {
    background-color: yellowgreen;
}